.app-container{
	padding: 20px 100px;
}

hr{
	margin: 10px 0px;
}

.ant-input{
	// width: 120px;
}

.rangePicker{
	width: 200px;
}

.ant-select{
	width: 120px;
}

.app-title-zone{
	margin: 0px 10px;
	display: inline;
}